.green-box {
    height: 150px;
    background-color: green;
}

.red-box {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    flex-basis: 100%;
}

.yellow-box {
    height: 500px;
    background-color: yellow;
    width: 100%;
}

.yellows {
    display: flex;
    gap: 30px;
}

.purple-box {
    background-color: purple;
    height: 100px;
}

.blue-box {
    background-color: blue;
    width: 300px;
    min-width: 300px;
    height: 500px;
}

.main-content {
    display: flex;
    gap: 30px;
}